body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-image: url("img/space-triangle-galaxy-sky-wallpaper-preview.jpg");
    background-size: cover;
    background-position: -15px center;
    background-attachment: fixed;
    margin: 40px;
}
h1 {
    text-align: center;
    color: #FF007F;
}
nav {
    text-align: center;
    margin-bottom: 20px;
}
nav a {
    margin: 0 35px;
    text-decoration: none;
    color: #FFFFFF;
}

nav a:hover {
    text-decoration: underline;
}

button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

img {
  width: 300px;        
  height: auto;         
  margin: 20px;        
  border-radius: 10px;   
  display: inline-block; 
  vertical-align: middle;
  cursor: pointer;       
}




















