body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-image: url("https://akm-img-a-in.tosshub.com/indiatoday/images/story/201901/farsidedarkmoon11012019_0.jpeg?VersionId=mkBEtNu530aZYP53vYSuAt3N05ub18xH&size=690:388");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 40px;
}
h1 {
    text-align: center;
    color: darkred;
}
nav {
    text-align: center;
    margin-bottom: 20px;
}
nav a {
    margin: 0 35px;
    text-decoration: none;
    color: #003366;
}

nav a:hover {
    text-decoration: underline;
}

button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

img {
    cursor: pointer;
    display: block;       /* serve per poterla centrare */
    margin: 0 auto;       /* margine automatico a sinistra e destra */
    width: 50px;         /* esempio di larghezza */
    height: auto;         /* mantiene le proporzioni */
}








